@use '@angular/material' as mat;
@import 'material-icons/iconfont/material-icons.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.fill {
  flex: 1;
}

@mixin app-colors($theme) {
  mat-toolbar.primary {
    @include mat.toolbar-overrides(
      (
        container-background-color:
          mat.get-theme-color($theme, primary-container),
        container-text-color: mat.get-theme-color($theme, on-primary-container),
      )
    );
  }
}
