@use '@angular/material' as mat;
@import '@fontsource/raleway';
@import './styles';

$primary: mat.$azure-palette;
$tertiary: mat.$yellow-palette;
$typography: (
  brand-family: 'Raleway',
  plain-family: 'Raleway',
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $primary,
      tertiary: $tertiary,
    ),
    typography: $typography,
  )
);
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $primary,
      tertiary: $tertiary,
    ),
    typography: $typography,
  )
);

@include mat.core;

html {
  @include mat.typography-hierarchy($dark-theme);
}

body {
  @include mat.all-component-themes($dark-theme);
  @include app-colors($dark-theme);
}

body[theme='light'] {
  @include mat.all-component-colors($light-theme);
  @include app-colors($light-theme);
}
