<mat-sidenav-container autosize>
  <mat-sidenav mode="side" [opened]="opened" class="mat-elevation-z8">
    <mat-nav-list>
      @for (link of links; track link) {
      <a mat-list-item [routerLink]="link.href" [activated]="isActive(link)">
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        {{ link.name }}
      </a>
      }
      <div class="fill"></div>
      <a mat-list-item>
        <mat-icon matListItemIcon>settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
