mat-sidenav-container {
  height: inherit;
}

mat-sidenav {
  width: 20vw;
  min-width: fit-content;
  max-width: 200px;
  border-radius: 0;
  box-shadow: var(--mat-app-elevation-shadow-level-4);
}

mat-nav-list {
  display: flex;
  height: calc(100% - 16px);
  flex-direction: column;
}
