:host {
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
}

app-topnav {
  height: var(--app-topnav-height);
}

app-sidenav {
  height: calc(100vh - 56px);
}

main {
  padding: var(--app-layout-padding);
}
